.main {
    padding: 2%;

    text-align: center;

}

.score {
    color: red;

}

.timer {
    color: blue;
}

.questionContainer {
    padding: 5%;

    padding-top: 20vh;
    height: 50vh;
    border: 2px solid black;
    border-radius: 5px;
}

.questionText {
    padding: 5%;
    font-size: 100px;
    text-align: center;
    font-size: 2rem;
}

.statsContainer {
    padding: 5%;
    height: 50vh;
    border: 2px solid black;
    border-radius: 5px;
}

.answerField{
    padding: 5%;
    width: 100%;
}

.roomTitle {
    font-size: 2rem;
    font-weight: 700;
}